%section#content
  .container
    .row
      .seven.columns.centered
        .page
          %header
            .container
              %h1= t("users.confirmations.new.title")
          %section
            .container
              = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
                = devise_error_messages!
                = f.input :email
                = f.button :submit, t("users.confirmations.new.submit")
              %hr
              = render "devise/loops/links"

