.row
  .nine.columns.centered
    = simple_form_for @question do |f|
      .page
        %header
          .container
            %h1= t("questions.edit.title")
        %section
          .container
            = f.input :title, :input_html => {:class => "oversize"}
            = f.input :details, :input_html => {:size => "x7"}
            = f.input :is_private
        %section
          .container
            %ul.accordion.compact
              - @all_categories.each do |category|
                %li
                  .title
                    %h5= category.name
                  .content
                    = f.association :topics, :as => :check_boxes, :collection => category.topics, :wrapper => :block_grid, :item_wrapper_class => "block-item three-up"
        %section.actions
          .container
            = f.button :submit, t("questions.edit.submit")
