= render "shared/hero", :who => @who, :where => @where
%section#content
  .container
    .row
      .nine.columns
        .page
          %header
            .container
              %h2= t("questions.recent.title")
          %section.filter
            .container.tight
              %dl.sub-nav.filter
                %dd{:class => params[:action] == "index" ? "active" : ""}
                  = link_to t("questions.filters.all"), questions_path
                - if user_signed_in?
                  %dd{:class => params[:action] == "mine" ? "active" : ""}
                    = link_to t("questions.filters.mine"), mine_questions_path
                - if user_signed_in? and current_user.is_professional?
                  %dd{:class => params[:action] == "for_me" ? "active" : ""}
                    = link_to t("questions.filters.for_me"), for_me_questions_path
                %dd{:class => params[:action] == "most_popular" ? "active" : ""}
                  = link_to t("questions.filters.most_popular"), most_popular_questions_path
                %dd{:class => params[:action] == "answered" ? "active" : ""}
                  = link_to t("questions.filters.answered"), answered_questions_path
                %dd{:class => params[:action] == "unanswered" ? "active" : ""}
                  = link_to t("questions.filters.unanswered"), unanswered_questions_path
          %section
            .container
              - unless @questions.empty?
                %ul.looper.questions
                  - @questions.each do |question|
                    %li= render "questions/shared/loop", :question => question
              - else
                %p.no-records
                  = t("questions.count.zero")
      .three.columns
        %aside#sidebar
          = render "shared/ads"
          %section
            %h5.section-title
              = t("professionals.top_contributors.title")
            - unless @top_contributors.empty?
              %ul.looper.tight.professionals.top-contributors
                - @top_contributors.each do |professional|
                  %li= render "professionals/loops/minimal", :professional => professional
            - else
              %p.no-records
                = t("professionals.top_contributors.count.zero")
