.row
  .nine.columns.centered
    = simple_form_for @question do |f|
      .page
        %header
          .container
            %h1= t("questions.new.title")
        %section
          .container
            %h3= t("questions.new.sections.details.title")
            %p= t("questions.new.sections.details.subtitle")
            = f.input :title, :input_html => {:class => "oversize"}, :placeholder => t("questions.new.fields.title.placeholder")
            = f.input :details, :input_html => {:size => "x7"}, :placeholder => t("questions.new.fields.details.placeholder")
            = f.input :is_private
        %section
          .container
            %h3= t("questions.new.sections.category.title")
            %p= t("questions.new.sections.category.subtitle")
            %ul.accordion.compact
              - @all_categories.each do |category|
                %li
                  .title
                    %h5= category.name
                  .content
                    = f.association :topics, :as => :check_boxes, :collection => category.topics, :wrapper => :block_grid, :item_wrapper_class => "block-item three-up"
        - unless user_signed_in?
          %section
            .container
              %h3= t("questions.new.sections.account.title")
              %p= t("questions.new.sections.account.subtitle")
              %ul.tabs.pill
                %li.active= link_to t("questions.new.sections.account.sign_up"), "#signup"
                %li= link_to t("questions.new.sections.account.sign_in"), "#signin"
              %ul.tabs-content
                %li#signupTab.active
                  = simple_fields_for :new_user, @author do |author_f|
                    = author_f.input :email
                    = author_f.input :password
                    = author_f.input :password_confirmation
                    = render "shared/location_selector", :f => author_f
                %li#signinTab
                  = simple_fields_for :user, @author do |author_f|
                    = author_f.input :email
                    = author_f.input :password
        %section.actions
          .container
            = f.button :submit, t("questions.new.submit")
