.row
  .nine.columns
    #question.page.box.question
      %header
        .container
          %h1.title
            = @question.title.html_safe
          %p.meta
            = t("questions.show.meta.time_ago_in_location", :time => @question.created_at, :time_ago => time_ago_in_words(@question.created_at), :location => @author.short_address).html_safe
      - unless @question.details.blank?
        %section#question-details
          .container
            = simple_format(@question.details)
            #question-comments
              - unless @question.comments.empty?
                %ul.comments.looper
                  - @question.comments.each do |comment|
                    %li= render "comments/shared/loop", :comment => comment
              = render "comments/shared/new", :commentable => @question
      %section#question-answers
        .container
          %h5= t("answers.index.title").html_safe
          - unless @answers.blank?
            %ul.looper.answers
              - @answers.each do |answer|
                %li= render "answers/shared/loop", :answer => answer
          - else
            %p.no-records
              = t("answers.count.zero").html_safe
      %section#answer
        .container
          = render "answers/shared/new", :question => @question
  .three.columns
    %aside#sidebar
      %section#question-topics
        %h5.section-title= t("questions.show.topics.title").html_safe
        - unless @topics.empty?
          %ul.tags.green-tags.topics
            - @topics.each do |topic|
              %li= link_to topic.name, category_topic_path(topic.category, topic)
      %hr
      %section#question-related-professionals
        %h5.section-title= t("professionals.related.title").html_safe
        - unless @related_professionals.blank?
          %ul.looper.professionals.related-professionals
            - @related_professionals.each do |professional|
              %li= render "professionals/loops/minimal", :professional => professional
        - else
          %p.no-records
            = t("professionals.count.zero").html_safe
