<h1>Business</h1>

<table>
  <tbody>
    <tr>
      <th>Slug</th>
      <td><%= @business.slug %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @business.name %></td>
    </tr>
    <tr>
      <th>Tel</th>
      <td><%= @business.tel %></td>
    </tr>
    <tr>
      <th>Fax</th>
      <td><%= @business.fax %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><a href="mailto:<%= @business.email %>"><%= @business.email %></a></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><a href="<%= @business.url %>"><%= @business.url %></a></td>
    </tr>
    <tr>
      <th>Logo</th>
      <td><img src="<%= @business.logo %>" /></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @business.description %></td>
    </tr>
    <tr>
      <th>Facebook</th>
      <td><a href="<%= @business.facebook_url %>"><%= @business.facebook_url %></a></td>
    </tr>
    <tr>
      <th>Twitter</th>
      <td><a href="<%= @business.twitter_url %>"><%= @business.twitter_url %></a></td>
    </tr>
    <tr>
      <th>LinkedIn</th>
      <td><a href="<%= @business.linkedin_url %>"><%= @business.linkedin_url %></a></td>
    </tr>
  </tbody>
</table>

<h2>Business Locations</h2>

<table>
  <thead>
    <tr>
      <th>Door Number</th>
      <th>House Number</th>
      <th>Street Name</th>
      <th>Locality</th>
      <th>Region</th>
      <th>Postal Code</th>
      <th>Country</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @business.locations.each do |location| %>
    <tr>
      <td><%= location.door_number %></td>
      <td><%= location.house_number %></td>
      <td><%= location.street_name %></td>
      <td><%= location.locality %></td>
      <td><%= location.region %></td>
      <td><%= location.postal_code %></td>
      <td><%= location.country %></td>
      <td><%= location.tel %></td>
      <td><%= location.fax %></td>
      <td><%= location.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "List of businesses", businesses_path %></p>