%section#content
  .container
    .row
      .twelve.columns
        %hgroup.hr
          %h1
            = @locality.name
          %h3.subheader
            = "Find, ask and consult professionals in #{@locality.name}"
      .eight.columns
        %section.browse-by-taxonomy
          .container
            %ul.categories.accordion.compact
              - @all_categories.each do |category|
                %li.category
                  .title
                    %h5.category-name
                      = category.name
                  .content
                    %ul
                      %li
                        %h5.topics-title
                          = "Topics"
                        %ul.topics.block-grid.three-up
                          - category.topics.each do |topic|
                            %li.topic
                              %a.topic-name{:href => locality_topic_path(@locality, topic), :title => "#{topic.name} in #{@locality.name}, #{@region.name}"}
                                = topic.name
                      %li
                        %h5.professions-title
                          = "Professions"
                        %ul.professions.block-grid.three-up
                          - category.professions.each do |profession|
                            %li.profession
                              %a.profession-name{:href => locality_profession_path(@locality, profession), :title => "#{profession.name} in #{@locality.name}, #{@region.name}"}
                                = profession.name
      .four.columns
        %section
          .panel
            %h5
              = "Top-rated professionals in #{@locality.name}"
            - unless @professionals.empty?
              %ul.professionals.top-rated
                - @professionals.each do |professional|
                  %li.professional
                    = render "professionals/loops/minimal", :professional => professional
