.row
  .two.columns
    %ul.side-nav
      %li= link_to "Inbox", messages_path
      %li= link_to "Sent", sent_messages_path
      %li.divider
      %li.active= link_to "New message", new_message_path
  .ten.columns
    = form_for @message do |f|
      .page
        %header
          .container
            %hgroup
              %h1 New Message
              %h4.subheader Compose a private message
        - unless @message.errors.blank?
          %section.errors
            .container
              = render "shared/errors", :errors => @message.errors
        %section
          .container
            .row
              .twelve.columns
                = f.text_field :to_name, :id => "new_message_to_name", :placeholder => "To", :class => "autocomplete", :data => {:source => "/#{I18n.locale}/professionals.json"}
                = f.hidden_field :to_id, :id => "new_message_to_id"
            .row
              .twelve.columns
                = f.text_area :content, :rows => 10
        %section.actions
          .container
            .row
              .twelve.columns
                = f.submit :class => "submit button"
