.row
  .two.columns
    %ul.side-nav
      %li= link_to "Inbox", messages_path
      %li= link_to "Sent", sent_messages_path
      %li.divider
      %li= link_to "New message", new_message_path
  .ten.columns
    .page
      %section.all_messages
        .container
          - unless @message.parent.blank?
            = render "messages/loops/parent", :message => @message.parent
          .message.main{:id => "message_#{@message.id}"}
            .row
              .three.columns.text-center
                .from-headshot
                  = image_tag @message.from.headshot.url(:small), :class => "headshot"
                %h5.from-name
                  = @message.from.id == current_user.id ? "Me" : @message.from.name
                .created-at
                  = "Sent #{time_ago_in_words(@message.created_at)} ago"
              .nine.columns
                = simple_format(@message.content)
          - unless @message.children.blank?
            - @message.children.each do |message|
              = render "messages/loops/child", :message => message
      %section.reply
        .container
          .row
            .three.columns.text-center
              = image_tag current_user.headshot.url(:small), :class => "headshot"
              %h5.replier
                Me
            .nine.columns
              %h4 Reply
              = form_for @reply_message do |f|
                = f.hidden_field :parent_id
                = f.hidden_field :to_id
                - unless @reply_message.errors.blank?
                  .errors
                    = render "shared/errors", :errors => @reply_message.errors
                = f.text_area :content, :rows => 10
                = f.submit "Reply", :class => "submit button"