- unless conversation.blank?
  .conversation.inbox.goto{:id => "conversation_#{conversation.id}", :class => conversation.messages.last.read ? "read" : "unread", :data => {:url => conversation_path(conversation)}}
    .row
      .four.columns
        - conversation.participants.each do |participant|
          - unless participant.id == current_user.id
            .row
              .four.columns
                = image_tag participant.headshot.url(:thumb), :class => "headshot"
              .eight.columns
                .participant-name
                  = participant.display_name
                .created-at
                  = t("misc.time_ago", :time => conversation.messages.last.created_at, :time_ago => time_ago_in_words(conversation.messages.last.created_at)).html_safe
      .eight.columns
        = truncate(conversation.messages.last.message, :omission => "...", :length => 150)