.question.loop.page
  %section.page-head
    .container
      .header-group
        %h3.title
          %a{:href => question_path(question)}
            = question.title
        %p.meta
          %time.created_at{:datetime => question.created_at}
            = "Asked #{time_ago_in_words(question.created_at)} ago"
          %span.location
            = "in #{question.user.short_address}"
  %section.page-section.answers
    .container.thin
      - if question.answers.blank?
        %p.no-records No answers yet.
      - else
        %h6 Answered by
        .row
          .eight.columns
            %ul.inline.spaced
              - question.answers.each do |answer|
                %li
                  .professional
                    %a.headshot.thumb{:href => "#{question_path(question)}##{answer.professional.name.parameterize}"}
                      = image_tag answer.professional.headshot.url(:thumb)
          .four.columns.text-right
            - unless question.answers.blank?
              %a.button.secondary.radius{:href => "#{question_path(question)}#answers"} View all answers