%section#content
  .container
    .row
      .nine.columns
        %h4.no-marg-top
          = "#{@professionals.count} professionals found"
        %ul.block-grid.three-up.mobile-one-up
          - @professionals.each do |professional|
            %li
              = render "professionals/shared/loop", :professional => professional

      .three.columns
        - if @topics || @professions
          %ul.accordion.compact
            %li.active
              .title
                %h6 Related topics
              .content
                %ul.side-nav
                  - if @topics
                    - @topics.each do |topic|
                      %li
                        %a{:href => url_for(topic)}
                          = topic.name
                  - else
                    No related topics
            %li
              .title
                %h6 Related professions
              .content
                %ul.side-nav
                  - if @professions
                    - @professions.each do |profession|
                      %li
                        %a{:href => url_for(profession)}
                          = profession.name
                  - else
                    No related professions
