.row
  .twelve.columns
    %hgroup.hr
      %h3.section-title
        Search Results
      %h4.subheader
        = "#{@professionals.count} professionals found for <em>#{@what}</em> in <em>#{@where}</em>".html_safe
    - unless @professionals.blank?
      %ul.professionals.block-grid.five-up.mobile-two-up
        - @professionals.each do |professional|
          %li
            = render "professionals/loops/regular", :professional => professional
    - else
      %p.no-records
        Sorry, we could not find any professionals.
