.row
  .eight.columns
    .page.professional
      %header
        .container
          .row
            .four.columns.text-center
              = image_tag @professional.headshot.url(:large), :class => "headshot"
            .eight.columns.mobile-text-center
              %h1.name
                = @professional.name
              %ul.taxonomies.block-grid.two-up.mobile-one-up
                %li.professions
                  %i.icon-user
                  = @professional.professions_list
                %li.location
                  %i.icon-map-marker
                  = @professional.short_address
                - unless @professional.website.blank?
                  %li.url
                    %i.icon-external-link
                    = link_to @professional.website, @professional.website
                - unless @professional.tel.blank?
                  %li.tel
                    %i.icon-phone
                    = @professional.tel
              %ul.tags.green-tags.topics
                - @professional.topics.each do |topic|
                  %li= link_to topic.name, category_topic_path(topic.category, topic)
              .clear
      - if false
        %section
          .container
            %ul.metrics.block-grid.four-up
              %li=t("professionals.metrics.points.count", :count =>  @professional.points).html_safe
              %li=t("professionals.metrics.answers.count", :count => @professional.answers.count).html_safe
              %li=t("professionals.metrics.reviews.count", :count => @professional.reviews.count).html_safe
              %li=t("professionals.metrics.guides.count", :count => @professional.guides.count).html_safe
      %section
        .container
          - unless @professional.bio.blank?
            .about
              %h5.section-title
                =t "professionals.show.about", :name => @professional.name
              %p.bio
                = @professional.bio
          .contacts
            %a.new_conversation_trigger.button.small{:href => "#", :data => {"participant-id" => @professional.id}}
              =t "professionals.show.send_message"
      %section
        .container.no-pad
          .map
            .gmap{:data => {:latitude => @professional.latitude, :longitude => @professional.longitude}}
              .marker{:data => {:latitude => @professional.latitude, :longitude => @professional.longitude}}
                %p.address
                  - unless @professional.street_address_1.blank?
                    %span.street-address-1
                      = "#{@professional.street_address_1}, "
                    - unless @professional.street_address_2.blank?
                      %span.street-address-2
                        = @professional.street_address_2
                    %br
                  - unless @professional.locality.nil?
                    %span.locality
                      = @professional.locality.name
                    %br
                  - unless @professional.region.nil?
                    %span.region
                      = @professional.region.name
                  - unless @professional.postal_code.blank?
                    %span.postal_code
                      = @professional.postal_code
                  %br
                  - unless @professional.country.nil?
                    %span.country
                      = @professional.country.name
      %section#reviews
        .container
          %h5.section-title
            =t "reviews.index.title"
          - unless @reviews.blank?
            %ul.looper.reviews
              - @reviews.each do |review|
                %li= render "reviews/shared/loop", :review => review
            = paginate @reviews
          - else
            %p.no-records
              =t "professionals.reviews.count.zero", :name => @professional.name
          = render "reviews/shared/new", :professional => @professional
      %section#guides
        .container
          %h5.section-title
            =t "guides.index.title"
          - unless @guides.empty?
            %ul.looper.guides
              - @guides.each do |guide|
                %li
                  = guide.topic.name
                  = guide.title
                  = guide.excerpt
          - else
            %p.no-records
              =t "professionals.guides.count.zero", :name => @professional.name
  .four.columns
    .panel
      %h5
        =t "professionals.similar.title"
      - unless @similar_professionals.empty?
        %ul.looper.similar-professionals
          - @similar_professionals.each do |professional|
            %li= render "professionals/loops/minimal", :professional => professional
      - else
        %p.no-records
          =t "professionals.count.zero"
    = render "shared/ads"
