%section#content.professional.full
  .container
    .row
      .eight.columns
        .page
          .page-head
            .row
              .three.columns.text-center
                .headshot
                  = image_tag @professional.headshot.url(:thumb)
              .nine.columns.mobile-text-center
                %h1.name
                  = @professional.name
                .professions
                  = @professional.profession_list
          .page-body
            .page-section
              .teaser
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non dolor a tortor accumsan tristique in sollicitudin orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas facilisis, justo vitae porttitor blandit, orci nisl pretium nisl, ut commodo purus dolor at neque.
            .page-section
              %ul.metrics.block-grid.three-up
                %li
                  .key score
                  .row
                    .three.columns
                      .value 77
                    .nine.columns
                      .round.progress.success
                        %span.meter{:style => "width: 77%;"}
                %li
                  .key answers
                  .value 12
                %li
                  .key reviews
                  .value 6
            .page-section
              .row
                .six.columns
                  .address
                    %h4 Address
                    - unless @professional.street_address_1.blank?
                      %span.street-address-1
                        = "#{@professional.street_address_1}, "
                      - unless @professional.street_address_2.blank?
                        %span.street-address-2
                          = @professional.street_address_2
                    %br
                    - unless @professional.locality.blank?
                      %span.locality
                        = "#{@professional.locality}, "
                    - unless @professional.region.blank?
                      %span.region
                        = @professional.region
                    - unless @professional.postal_code.blank?
                      %span.postal_code
                        = @professional.postal_code
                    %br
                    - unless @professional.country.blank?
                      %span.country
                        = @professional.country
                  .contacts
                    %h4 Contacts
                    .tel
                      = @professional.tel
                .six.columns
                  .map
                    %h4 Map
                    .gmap{:data => {:latitude => @professional.latitude, :longitude => @professional.longitude}}
            .page-section
              .row
                .twelve.columns
                  .reviews
                    %h4 Reviews
                    - if @professional.reviews.count == 0
                      %p.no-records
                        = "No reviews for #{@professional.name} yet."
                    - else
                      %ul
                        - @professional.reviews.each do |review|
                          %li
                            = review.user.name
                            = review.title
                            = review.details
                    %h5
                      = "Write a review for #{@professional.name}"
                    = form_for @review do |f|
                      = f.label :rating
                      = f.text_field :rating
                      = f.label :comment
                      = f.text_area :comment, :rows => 4
                      = f.submit "Create Review", :class => "button small"
            .page-section
              .row
                .twelve.columns
                  .guides
                    %h4 Guides
                    %ul
                      - @professional.guides.each do |guide|
                        %li
                          = guide.topic.name
                          = guide.title
                          = guide.excerpt
      .four.columns
        .panel
          %h5
            = "Similar professionals in #{@professional.locality}, #{@professional.region}"
            %ul
              - @professional.similar.each do |professional|
                %li
                  = professional.name
