%section#content
  .container
    .row
      .eight.columns
        .page.professional
          %header.page-head
            .container
              .row
                .three.columns.text-center
                  .headshot
                    = image_tag @professional.headshot.url(:medium)
                .nine.columns.mobile-text-center
                  %h1.name
                    = @professional.name
                  %p.professions
                    = @professional.professions_list
                  %p.bio
                    = @professional.bio
          .page-body
            %section#metrics.page-section
              .container
                %ul.metrics.block-grid.four-up
                  %li
                    .value 77
                    .key points
                  %li
                    .value 12
                    .key answers
                  %li
                    .value 6
                    .key reviews
                  %li
                    .value 2
                    .key guides
            %section#location.location.page-section
              .container
                .row
                  .six.columns
                    %h4 Address
                    %p.address
                      - unless @professional.street_address_1.blank?
                        %span.street-address-1
                          = "#{@professional.street_address_1}, "
                        - unless @professional.street_address_2.blank?
                          %span.street-address-2
                            = @professional.street_address_2
                      %br
                      - unless @professional.locality.blank?
                        %span.locality
                          = "#{@professional.locality}, "
                      - unless @professional.region.blank?
                        %span.region
                          = @professional.region
                      - unless @professional.postal_code.blank?
                        %span.postal_code
                          = @professional.postal_code
                      %br
                      - unless @professional.country.blank?
                        %span.country
                          = @professional.country
                    %h4 Contacts
                    %p.contacts
                      .tel
                        = @professional.tel
                  .six.columns
                    %h4 Map
                    %p.map
                      .gmap{:data => {:latitude => @professional.latitude, :longitude => @professional.longitude}}
            %section#reviews.page-section
              .container
                .row
                  .twelve.columns
                    %h4 Reviews
                    - unless @reviews.nil?
                      %ul.reviews
                        - @reviews.each do |review|
                          %li
                            = render "reviews/shared/loop", :review => review
                      %p.view-all
                        %a{:href => professional_reviews_path(@professional)} View all reviews
                    - else
                      %p.no-records
                        = "No reviews for #{@professional.name} yet."
                    = render "reviews/shared/new", :professional => @professional
            %section#guides.page-section
              .container
                .row
                  .twelve.columns
                    %h4 Guides
                    - unless @guides.nil?
                      %ul.guides
                        - @guides.each do |guide|
                          %li
                            = guide.topic.name
                            = guide.title
                            = guide.excerpt
                    - else
                      %p.no-records
                        = "#{@professional.name} hasn't written any guide yet."
      .four.columns
        .panel
          %h5
            = "Similar professionals in #{@professional.locality}, #{@professional.region}"
            %ul
              - @professional.similar.each do |professional|
                %li
                  = professional.name
