%section#content
  .container
    .row
      .eight.columns
        .page.professional.full
          .page-head
            .row
              .three.columns.text-center
                .headshot
                  = image_tag @professional.headshot.url(:thumb)
              .nine.columns
                %h1.name
                  = @professional.name
                .row.collapse
                  .six.columns
                    .professions
                      = @professional.profession_list
                  .six.columns
                    .address.short
                      %i.foundicon-location
                      = @professional.short_address
          .page-body
            .row
              .six.columns
                .address
                  %h4 Address
                  - unless @professional.street_address_1.blank?
                    %span.street-address-1
                      = "#{@professional.street_address_1}, "
                    - unless @professional.street_address_2.blank?
                      %span.street-address-2
                        = @professional.street_address_2
                  %br
                  - unless @professional.locality.blank?
                    %span.locality
                      = "#{@professional.locality}, "
                  - unless @professional.region.blank?
                    %span.region
                      = @professional.region
                  - unless @professional.postal_code.blank?
                    %span.postal_code
                      = @professional.postal_code
                  %br
                  - unless @professional.country.blank?
                    %span.country
                      = @professional.country
              .six.columns
                .map

      .four.columns
