%p= t("users.mailer.common.hello", :display_name => @resource.email, :locale => @locale).html_safe
%p= t("users.mailer.reset_password_instructions.content", :locale => @locale)
%p= link_to t("users.mailer.reset_password_instructions.label", :locale => @locale).html_safe, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t("users.mailer.reset_password_instructions.ps1", :locale => @locale).html_safe
%p= t("users.mailer.reset_password_instructions.ps2", :locale => @locale).html_safe
