%p= t "users.mailer.common.hello", :display_name => @resource.email
%p= t "users.mailer.reset_password_instructions.content"
%p= link_to t("users.mailer.reset_password_instructions.label"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t "users.mailer.reset_password_instructions.ps1"
%p= t "users.mailer.reset_password_instructions.ps2"
