<p class="center"><%= image_tag "/assets/mailer/user_mailer/welcome_email/welcome.png", :width => 180, :height => 240 %></p>

<h1 class="subject"><%= t("user_mailer.welcome_email.subject", :locale => @locale).html_safe %></h1>

<p>Welcome to Kixo, <%= @user.name %></p>

<p>Your account has been created successfully. You can login whenever you want with the email you provided: <%= @user.email %>.</p>

<p>Kixo is still in its infancy. But we hope that with your engagement and contributions it will become the go-to site for trusted professional advice.</p>

<p>We know choosing the right professional is no easy task. That’s why we created our unique platform so you can exchange with certified local professionals, get informed and make the right choice.</p>

<% if @user.is_professional? %>
  <p>You can now go ahead and <%= link_to "edit your profile", edit_user_registration_url(:locale => @locale) %>.</p>
<% else %>
  <p>You can now go ahead and <%= link_to "create your first question", new_question_url(:locale => @locale) %>.</p>
<% end %>

<p>We are very happy to have you with us.</p>