.row
  .seven.columns.centered
    .page
      %header
        .container
          %hgroup
            %h1= t("users.sessions.new.title")
            %h3.subheader= t("users.sessions.new.subtitle")
      %section
        .container
          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.input :email, :required => false
            = f.input :password
            - if devise_mapping.rememberable?
              = f.input :remember_me, :as => :boolean
            = f.button :submit, t("users.sessions.new.submit")
          %hr
          = render "users/shared/links"
    = render "users/shared/panels"
