%section#content
  .container
    .row
      .two.columns
        %ul.side-nav
          %li.active= link_to t("conversations.inbox.label"), conversations_path
          %li.divider
          %li= link_to t("messages.new.label"), new_conversation_path
      .ten.columns
        .page
          %header
            .container
              %h1
                = t("messages.index.title")
          %section
            .container
              - unless @conversations.blank?
                .conversations
                  - @conversations.each do |conversation|
                    = render "conversations/shared/loop", :conversation => conversation
              - else
                %p.no-records
                  = t("conversations.inbox.empty")