%section#content
  .container
    .row
      .twelve.columns
        %h1
          - if @locality
            = "#{@topic.name} in #{@locality.name}"
          - else
            = @topic.name
        - if @topic.description
          %p.description
            = @topic.description
        %hr
      .eight.columns
        - unless @professionals.nil?
          %section
            .container
              %h4
                - unless @locality.nil?
                  = "#{@professionals.count} professionals in <em>#{@topic.name.downcase}</em> found in #{@locality.name}".html_safe
                - else
                  = "#{@professionals.count} professionals in <em>#{@topic.name.downcase}</em> found".html_safe
              %ul.professionals.block-grid.three-up.mobile-one-up
                - @professionals.each do |professional|
                  %li.professional
                    = render "users/shared/loops/regular", :professional => professional
        - if @locality.nil?
          %section.browse-by-taxonomy
            .container
              %h4
                = "Browse professionals in <em>#{@topic.name.downcase}</em> by location".html_safe
              %ul.countries
                - @all_countries.each do |country|
                  %li.country
                    %span.country-name
                      = country.name
                    %ul.regions.block-grid.two-up
                      - country.regions.each do |region|
                        %li.region
                          %span.region-name
                            = region.name
                          %ul.localities.csv
                            - region.localities.most_populated(25).each do |locality|
                              %li.locality
                                %a.taxonomy-link.locality-name{:href => locality_topic_path(locality, @topic), :title => "#{@topic.name} in #{locality.name}, #{region.name}, #{country.name}"}
                                  = locality.name
      .four.columns
        - unless @questions.nil?
          %section#questions
            .container
              %h4
                = "#{@topic.name} questions"
              - unless @questions.blank?
                %ul.questions
                  - @questions.each do |question|
                    %li
                      = render "questions/shared/loop", :question => question
              - else
                %p.no-records
                  No questions found
