- if current_user and current_user.can_review?(professional)
  %h5=t "reviews.new.title", :name => professional.name
  = form_for [professional, professional.reviews.new], :url => professional_reviews_path(professional) do |f|
    = f.hidden_field :professional_id, :value => professional.id
    .row
      .twelve.columns
        = f.text_area :comment, :rows => 4
    .row
      .six.columns
        = f.select "rating_id", @all_ratings.map {|u| [u.name, u.id]}
      .six.columns.text-right
        = f.submit t("reviews.new.submit"), :class => "button small"