- if current_user and current_user.can_review?(user)
  %h5
    = "Write a review for #{user.name}"
  = form_for [user, user.reviews.new] do |f|
    = f.hidden_field :user_id, :value => user.id
    .row
      .twelve.columns
        = f.label :comment
        = f.text_area :comment, :rows => 4
    .row
      .six.columns
        = f.select "rating_id", @all_ratings.map {|u| [u.name, u.id]}
      .six.columns.text-right
        = f.submit "Post Review", :class => "button small"