- if (current_user and current_user.can_review?(professional)) or (current_professional and current_professional.can_review?(professional))
  %h5
    = "Write a review for #{professional.name}"
  = form_for [professional, professional.reviews.new] do |f|
    = f.hidden_field :professional_id, :value => professional.id
    .row
      .twelve.columns
        = f.label :comment
        = f.text_area :comment, :rows => 4
    .row
      .six.columns
        = f.select "rating_id", Rating.all.map {|u| [u.name, u.id]}
      .six.columns.text-right
        = f.submit "Post Review", :class => "button small"