- if user_signed_in? and current_user.can_review?(professional)
  %h5= t("reviews.new.title", :name => professional.name)
  = simple_form_for [professional, professional.reviews.new], :url => professional_reviews_path(professional) do |f|
    = f.association :professional, :as => :hidden, :value => professional.id
    = f.input :comment
    = f.association :rating, :collection => @all_ratings
    = f.button :submit, t("reviews.new.submit")