%section#actions
  #actions-tabs
    .container
      .row
        .twelve.columns
          %dl.tabs.two-up
            %dd{:class => @current_action_tab == "ask" ? "active" : ""}
              %a{:href => "#ask"}
                .hide-for-small
                  %i.icon-question-sign
                  %span
                    =t :action_ask
                .show-for-small
                  %i.icon-question-sign
                .arrow
            %dd{:class => @current_action_tab == "find" ? "active" : ""}
              %a{:href => "#find"}
                .hide-for-small
                  %i.icon-search
                  %span
                    =t :action_find
                .show-for-small
                  %i.icon-search
                .arrow
  #actions-tabs-content
    %ul.tabs-content
      %li#askTab{:class => @current_action_tab == "ask" ? "active" : ""}
        .row
          .three.columns.text-center
            %img{:src => "/assets/banner_ask_char.png", :width => 250, :height => 160}
          .nine.columns
            .container
              %hgroup
                %h2 Ask professionals
                %h3.subheader Get free advice from experienced professionals!
              = form_tag new_question_path, :method => "get" do
                .row
                  .ten.columns
                    = text_field_tag "question[title]", nil, :placeholder => t(:question_placeholder), :class => "oversize"
                  .two.columns
                    = submit_tag t(:action_ask), :class => "radius button expand postfix"
      %li#findTab{:class => @current_action_tab == "find" ? "active" : ""}
        .row
          .three.columns.text-center
            %img{:src => "/assets/banner_find_char.png", :width => 250, :height => 160}
          .nine.columns
            .container
              %hgroup
                %h2 Find professionals
                %h3.subheader Find top-rated professionals near you!
              = form_tag users_path, :method => "get" do
                .row
                  .six.columns
                    = text_field_tag "what", @what, :placeholder => "What?", :class => "oversize autocomplete", :data => {:source => "/#{I18n.locale}/whats.json"}
                  .four.columns
                    = text_field_tag "where", @where, :placeholder => "Where?", :class => "oversize autocomplete", :data => {:source => "/#{I18n.locale}/wheres.json"}
                  .two.columns
                    = submit_tag t(:action_find), :class => "radius button expand postfix"