.ads
  - Ad.all.each do |ad|
    .ad{:class => ad.format}
      = link_to ad.destination do
        = image_tag ad.visual.url, :class => "visual"
  .internal
    - if user_signed_in? && !current_user.is_professional?
      .ad.panel.callout#go_pro
        %h5= t("ads.internal.go_pro.title")
        %p= t("ads.internal.go_pro.content").html_safe
        %p= link_to t("ads.internal.go_pro.label"), "#{edit_user_registration_path}#subscriptions", class: "button small"