%title= h(yield(:title) || @page_title || t("site.title"))
= tag :meta, :name => "viewport",   :content => "width=device-width, initial-scale=1.0"
= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY']
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "https://js.stripe.com/v1/"
= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
= javascript_include_tag "//use.typekit.net/orw6kzi.js"
= javascript_include_tag "application"
:javascript
  try{Typekit.load();}catch(e){}
%link{:rel => "canonical", :href => @canonical_url || url_for}
%link{:rel => "shortcut icon", :href => "/assets/favicon.png"}
= csrf_meta_tags
= yield(:head)