- unless user_signed_in?
  %section#hero{:class => (defined?(slim) && slim) ? "slim" : ""}
    .container
      .row
        .ten.columns.centered
          .hero-box
            .four.columns.text-center
              %h1= t("layout.hero.professional.title").html_safe
              %h3.subheader= t("layout.hero.professional.subtitle").html_safe
              = link_to t("layout.hero.professional.cta"), new_professional_registration_path, :class => "button"
            .four.columns.text-center
              = image_tag "/assets/hero_chars.png", :width => 280, :height => 190
            .four.columns.text-center
              %h1= t("layout.hero.personal.title").html_safe
              %h3.subheader= t("layout.hero.personal.subtitle").html_safe
              = link_to t("layout.hero.personal.cta"), new_question_path, :class => "button"
            .clear