.location-selector
  - if true
    - if defined?(street_address) and street_address != false
      = f.input :street_address_1
      = f.input :street_address_2
    - locality_name = f.object.locality_name ? f.object.locality_name : ((resource.nil? || resource.locality.blank?) ? "" : resource.locality.name)
    = f.input :locality_name, :required => true, :input_html => {:value => locality_name, :class => "autocomplete", :data => {:name => "locality-name-#{I18n.locale}", :prefetch => "/#{I18n.locale}/data/localities.json"}}
    - if defined?(postal_code) and postal_code != false
      = f.input :postal_code
  - else
    = f.simple_fields_for :address_attributes do |address_form|
      = address_form.input :raw_address,                 :input_html => {:id => "addresspicker"}
      = address_form.input :street_number,               :as => :hidden, :input_html => {:id => "address_street_number"}
      = address_form.input :route,                       :as => :hidden, :input_html => {:id => "address_route"}
      = address_form.input :locality,                    :as => :hidden, :input_html => {:id => "address_locality"}
      = address_form.input :administrative_area_level_2, :as => :hidden, :input_html => {:id => "address_administrative_area_level_2"}
      = address_form.input :administrative_area_level_1, :as => :hidden, :input_html => {:id => "address_administrative_area_level_1"}
      = address_form.input :country,                     :as => :hidden, :input_html => {:id => "address_country"}
      = address_form.input :postal_code,                 :as => :hidden, :input_html => {:id => "address_postal_code"}
      = address_form.input :lat,                         :as => :hidden, :input_html => {:id => "address_lat"}
      = address_form.input :lng,                         :as => :hidden, :input_html => {:id => "address_lng"}
