.location-selector
  - if false
    - if defined?(street_address) and street_address != false
      = f.input :street_address_1
      = f.input :street_address_2
    - locality_name = f.object.locality_name ? f.object.locality_name : ((resource.nil? || resource.locality.blank?) ? "" : resource.locality.name)
    = f.input :locality_name, :required => true, :input_html => {:value => locality_name, :class => "autocomplete", :data => {:name => "locality-name-#{I18n.locale}", :prefetch => "/#{I18n.locale}/data/localities.json"}}
    - if defined?(postal_code) and postal_code != false
      = f.input :postal_code
  - else
    %label Address
    %input#addresspicker
    %br
    %label Street Number
    %input#street_number
    %br
    %label Route
    %input#route
    %br
    %label Locality
    %input#locality
    %br
    %label District
    %input#administrative_area_level_2
    %br
    %label State/Province
    %input#administrative_area_level_1
    %br
    %label Country
    %input#country
    %br
    %label Postal Code
    %input#postal_code
    %br
    %label Lat
    %input#lat
    %br
    %label Lng
    %input#lng
    %br
    %label Type
    %input#type
