.location-selector
  - if defined?(street_address) and street_address != false
    = f.input :street_address_1
    = f.input :street_address_2
  = f.label :locality
  = text_field_tag :locality, resource.locality.name, :class => "locality autocomplete", :data => {:source => "/#{I18n.locale}/localities.json", :target => "#ls_locality_id"}
  = f.input :locality_id, :as => :hidden, :input_html => {:id => "ls_locality_id"}
  - if defined?(postal_code) and postal_code != false
    = f.input :postal_code
