- unless message.blank?
  .message.inbox.loop.goto{:id => "message_#{message.id}", :class => message.read ? "read" : "unread", :data => {:goto => message_path(message.latest_child)}}
    .row
      .four.columns
        .row
          .four.columns
            .correspondent-headshot
              = image_tag message.correspondent(current_user).headshot.url(:thumb), :class => "headshot"
          .eight.columns
            .correspondent-name
              = message.correspondent(current_user).name
            .created-at
              = "#{time_ago_in_words(message.created_at)} ago"
      .eight.columns
        = truncate(message.latest_child.content, :omission => "...", :length => 150)