%section#banner{:style => "background: url(http://maps.googleapis.com/maps/api/staticmap?sensor=true&center=#{request.location.latitude},#{request.location.longitude}&zoom=13&size=640x640&scale=2&style=lightness:60|saturation:-100|visibility:simplified) center top no-repeat; background-size: 100%;"}
  .container
    .row
      .twelve.columns.centered
        #hero
          %h1#hero_title
            =t :hero_title
          %h3#hero_subtitle.subheader
            =t :hero_subtitle
        #tools
          .ten.columns.centered
            %dl.tabs.contained.three-up
              %dd.active
                %a{:href => "#ask"}
                  %i.icon.icon-comment
                  =t :action_ask
              %dd
                %a.icon-search{:href => "#find"}
                  %i.icon.icon-search
                  =t :action_find
              %dd
                %a.icon-search{:href => "#review"}
                  %i.icon.icon-star
                  =t :action_review
            %ul.tabs-content.contained
              %li#askTab.active
                = form_tag new_question_path, :method => "get" do
                  %h3
                    %small Get free, personalized advice from experienced professionals!
                  .row
                    .ten.columns
                      = text_field_tag "question[title]", nil, :placeholder => t(:question_placeholder), :class => "oversize"
                    .two.columns
                      = submit_tag t(:action_ask), :class => "radius button expand postfix"
              %li#findTab
                %form
                  %h3
                    %small Find top-rated professionals near you!
                  .row
                    .six.columns
                      %input#what{:type => "text", :class => "oversize", :placeholder => "What?"}
                    .four.columns
                      %input#where{:type => "text", :class => "oversize", :placeholder => "Where?"}
                    .two.columns
                      %a.radius.button.expand.postfix Find
              %li#reviewTab
                %form
                  %h3
                    %small Review your professionals!
                  .row
                    .ten.columns
                      %input#who{:type => "text", :placeholder => "Who do you want to review?"}
                    .two.columns
                      %a.radius.button.expand.postfix Review


%section#content
  .container
    .row
      .eight.columns
        %section#main
          %section.latest-questions
            - @latest_questions.each do |question|
              = link_to question.title, question
      .four.columns
        %aside#sidebar
