%section#banner{:style => "background-image: url(http://maps.googleapis.com/maps/api/staticmap?sensor=true&center=#{request.location.latitude},#{request.location.longitude}&zoom=13&size=640x640&scale=2&style=lightness:75|saturation:-100|visibility:simplified);"}
  .container
    .row
      .twelve.columns.centered
        #hero
          %h1#hero_title
            =t :hero_title
          %h3#hero_subtitle.subheader
            =t :hero_subtitle
        #banner-actions
          .ten.columns.centered
            %dl.tabs.contained.three-up
              %dd.active
                %a{:href => "#ask"}
                  .hide-for-small
                    %i.foundicon-page
                    =t :action_ask
                  .show-for-small
                    %i.foundicon-page
              %dd
                %a.icon-search{:href => "#find"}
                  .hide-for-small
                    %i.foundicon-search
                    =t :action_find
                  .show-for-small
                    %i.foundicon-search
              %dd
                %a.icon-search{:href => "#review"}
                  .hide-for-small
                    %i.foundicon-star
                    =t :action_review
                  .show-for-small
                    %i.foundicon-star
            %ul.tabs-content.contained
              %li#askTab.active
                .row
                  .three.columns.text-center
                    %img{:src => "/assets/banner_ask_char.png"}
                  .nine.columns
                    .container
                      .header-group
                        %h3 Ask professionals
                        %h4.subheader Get free advice from experienced professionals!
                      = form_tag new_question_path, :method => "get" do
                        .row
                          .ten.columns
                            = text_field_tag "question[title]", nil, :placeholder => t(:question_placeholder), :class => "oversize"
                          .two.columns
                            = submit_tag t(:action_ask), :class => "radius button expand postfix"
              %li#findTab
                .row
                  .three.columns.text-center
                    %img{:src => "/assets/banner_find_char.png"}
                  .nine.columns
                    .container
                      .header-group
                        %h3 Find professionals
                        %h4.subheader Find top-rated professionals near you!
                      = form_tag professionals_path, :method => "get" do
                        .row
                          .six.columns
                            = text_field_tag "what", nil, :placeholder => "What?", :class => "oversize"
                          .four.columns
                            = text_field_tag "where", nil, :placeholder => "Where?", :class => "oversize"
                          .two.columns
                            = submit_tag t(:action_find), :class => "radius button expand postfix"
              %li#reviewTab
                .row
                  .three.columns.text-center
                    %img{:src => "/assets/banner_review_char.png"}
                  .nine.columns
                    .container
                      .header-group
                        %h3 Review professionals
                        %h4.subheader Review your professionals so everyone can benefit!
                      %form
                        .row
                          .ten.columns
                            %input#who{:type => "text", :placeholder => "Who do you want to review?", :class => "oversize"}
                          .two.columns
                            %a.radius.button.expand.postfix Review


%section#content
  .container
    .row
      .eight.columns
        %section#main
          %section.latest-questions
            - @latest_questions.each do |question|
              = link_to question.title, question
      .four.columns
        %aside#sidebar
