- if current_user

  #new_message_modal.reveal-modal

    %hgroup.hr
      %h3 New Message
      %h4.subheader Compose a private message

    = form_for @new_message do |f|
      = render "shared/errors", :errors => @new_message.errors

      = f.label :to
      = f.text_field :to_name, :id => "new_message_to_name", :placeholder => "To", :class => "autocomplete", :data => {:source => "/#{I18n.locale}/professionals.json"}
      = f.hidden_field :to_id, :id => "new_message_to_id"

      = f.label :content, "Message"
      = f.text_area :content, :rows => 10

      .actions
        = f.submit "Send", :class => "submit button"

    %a.close-reveal-modal &#215;