- unless message.blank?
  .message{:id => "message_#{message.id}", :class => message.read ? "read" : "unread", :data => {"url" => conversation_message_path(message.conversation, message, :format => :json)}}
    .row
      .two.columns.text-center
        = image_tag message.author.headshot.url(:small), :class => "headshot"
      .ten.columns
        %h5.author-name
          = message.author.id == current_user.id ? t("misc.me") : message.author.name
        .content
          = simple_format(message.message)
        .created-at
          = t("misc.sent_time_ago", :time => message.created_at, :time_ago => time_ago_in_words(message.created_at)).html_safe