%section#content
  .container
    .row
      .twelve.columns
        .header-group
          %h1
            - if @locality
              = "#{@profession.name.pluralize} in #{@locality.name}"
            - else
              = @profession.name.pluralize
          %h3.subheader
            - if @locality
              = "Find, ask and consult #{@profession.name.downcase.pluralize} in #{@locality.name}"
            - else
              = "Find, ask and consult #{@profession.name.downcase.pluralize}"
        - if @profession.description
          %p.description
            = @profession.description
        %hr
      .twelve.columns
        - unless @professionals.nil?
          %section#professionals.page-section
            .container
              %h4
                - unless @locality.nil?
                  = "#{@professionals.count} #{@profession.name.downcase.pluralize} found in #{@locality.name}"
                - else
                  = "#{@professionals.count} #{@profession.name.downcase.pluralize} found"
              %ul.professionals.block-grid.four-up.mobile-one-up
                - @professionals.each do |professional|
                  %li.professional
                    = render "professionals/shared/loop", :professional => professional
        - if @locality.nil?
          %section#browse.page-section
            .container
              %h4
                = "Browse #{@profession.name.downcase.pluralize} by location"
              %ul.countries
                - @all_countries.each do |country|
                  %li.country
                    = country.name
                    %ul.regions.block-grid.two-up
                      - country.regions.each do |region|
                        %li.region
                          = region.name
                          %ul.localities.csv
                            - region.localities.most_populated(25).each do |locality|
                              %li.locality
                                %a{:href => locality_profession_path(locality, @profession), :title => "#{@profession.name.pluralize} in #{locality.name}, #{region.name}, #{country.name}"}
                                  = locality.name
