- unless answer.blank? or answer.author.blank?
  .answer{:id => "ans#{answer.id}"}
    .row
      .nine.columns
        .details
          = simple_format(answer.details)
        %p.meta
          %span.created_at
            =t "misc.time_ago", :time => time_ago_in_words(answer.created_at)
        - if answer.author == current_user
          .actions
            = link_to t("answers.delete.title"), question_answer_path(answer.question, answer), :confirm => t("answers.delete.confirm"), :method => :delete, :class => "delete"
      .three.columns.text-center
        = link_to professional_path(answer.author) do
          = image_tag answer.author.headshot.url(:small), :class => "headshot"
          .author.professional
            .name
              = link_to answer.author.name, professional_path(answer.author)
            .whois
              %span.professions
                = answer.author.professions_list