- unless answer.nil? or answer.author.nil?
  .answer{:id => "ans#{answer.id}"}
    .row
      .two.columns.text-center
        .headshot
          = image_tag answer.author.headshot.url(:small)
        %h5.author_name
          %a{:href => professional_path(answer.author)}
            = answer.author.name
      .ten.columns
        .meta
          %span.created_at
            = "Answered #{time_ago_in_words(answer.created_at)} ago"
        .content
          .details
            = answer.details
        - if answer.author == current_professional or answer.author == current_user
          .actions
            = link_to 'Delete answer', question_answer_path(answer.question, answer), :confirm => 'Are you sure?', :method => :delete, :class => "delete"