- unless answer.blank? or answer.author.blank?
  .answer{:id => "answer-#{answer.id}"}
    .row
      .nine.columns
        .details
          = simple_format(answer.answer)
        %p.meta
          %span.created_at
            =t("misc.time_ago", :time => answer.created_at, :time_ago => time_ago_in_words(answer.created_at)).html_safe
        - if answer.author == current_user
          .actions
            = link_to question_answer_path(answer.question, answer), :confirm => t("answers.delete.confirm"), :method => :delete, :class => "delete" do
              %i.icon-remove-sign
              = t("answers.delete.title")
      .three.columns.text-center
        = render "professionals/loops/minimal_vertical", :professional => answer.author
    .row
      .twelve.columns
        - unless answer.comments.empty?
          %ul.comments.looper
            - answer.comments.each do |comment|
              %li= render "comments/shared/loop", :comment => comment
        = render "comments/shared/new", :commentable => answer