- if user_signed_in? && current_user.can_answer?(question)
  %section#answer
    .container
      %h5= t("answers.new.title").html_safe
      - if (current_user.answers & question.answers).empty?
        = simple_form_for [question, question.answers.new] do |f|
          = f.input :question_id, :as => :hidden, :value => question.id
          = f.input :answer, :input_html => {:rows => 7}, :label => false
          = f.button :submit, t("answers.new.submit")
      - else
        %p.access-denied
          = t("answers.new.errors.already_answered").html_safe