%section#content
  .container
    .row
      .eight.columns
        .page
          %header
            .container
              %hgroup
                %h1 Professional Sign Up
                %h3.subheader Sign up as a professional and connect with new clients
          %section
            .container
              = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true} do |f|
                = devise_error_messages!

                %fieldset
                  %legend Account details

                  .row
                    .twelve.columns
                      = f.label :email
                      = f.email_field :email

                  .row
                    .six.columns
                      = f.label :password
                      = f.password_field :password
                    .six.columns
                      = f.label :password_confirmation
                      = f.password_field :password_confirmation

                %fieldset
                  %legend Personal details

                  .row
                    .twelve.columns
                      = f.label :name
                      = f.text_field :name

                  .row
                    .twelve.columns
                      = f.label :headshot
                      = f.file_field :headshot

                  .row
                    .twelve.columns
                      = f.label :bio
                      = f.text_area :bio, :rows => 5

                %fieldset
                  %legend Address

                  = render :partial => "shared/location_selector", :locals => {:f => f}

                %hgroup
                  %h3 Categories
                  %h4.subheader Select topics and professions


                %ul.accordion.compact
                  - @all_categories.each do |category|
                    %li
                      .title
                        %h5
                          = category.name
                      .content
                        %fieldset
                          %legend Select topics
                          %ul.block-grid.three-up
                            - category.topics.each do |topic|
                              %li
                                %label
                                  = check_box_tag("professional[topic_ids][]", topic.id)
                                  = topic.name
                        %fieldset
                          %legend Select professions
                          %ul.block-grid.three-up
                            - category.professions.each do |profession|
                              %li
                                %label
                                  = check_box_tag("professional[profession_ids][]", profession.id)
                                  = profession.name

                .actions
                  = f.submit "Sign up", :class => "button"

      .four.columns
        = render "professionals/shared/panels"
