%section#content
  .container
    .row
      .eight.columns
        .page
          .page-head
            .header-group
              %h1 Professional Sign Up
              %h3.subheader Sign up as a professional and connect with new clients
          .page-body
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
              = devise_error_messages!

              .header-group
                %h4 Personal details
                %h5.subheader Give us some information about you

              = f.label :name
              = f.text_field :name

              = f.label :email
              = f.email_field :email

              .row
                .six.columns
                  = f.label :password
                  = f.password_field :password
                .six.columns
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation

              %hr

              .header-group
                %h4 Address
                %h5.subheader Your address will enable clients to find you

              = f.label :street_address_1, "Street address"
              = f.text_field :street_address_1

              = f.label :street_address_2, "Street address (continued)"
              = f.text_field :street_address_2

              = f.label :locality, "City"
              = f.text_field :locality

              .row
                .six.columns
                  = f.label :region, "Province/State"
                  = f.text_field :region
                .six.columns
                  = f.label :country
                  = country_select('professional', 'country', ['Canada', 'United States'])

              %hr

              .header-group
                %h4 Categories
                %h5.subheader Specify your topics of expertise and professions

              %ul.accordion.compact
                - Category.by_locale.each do |category|
                  %li
                    .title
                      %h5
                        = category.name
                    .content
                      %h6 Select topics
                      %ul.block-grid.three-up
                        - category.topics.each do |topic|
                          %li
                            %label
                              = check_box_tag("professional[topic_ids][]", topic.id)
                              = topic.name
                      %h6 Select professions
                      %ul.block-grid.three-up
                        - category.professions.each do |profession|
                          %li
                            %label
                              = check_box_tag("professional[profession_ids][]", profession.id)
                              = profession.name

              .actions
                = f.submit "Sign up", :class => "button"

      .four.columns
        = render "professionals/shared/panels"
