- unless professional.nil?
  .professional.loop.minimal
    .container
      - if !defined?(orientation) or orientation == "horizontal"
        .row
          .four.columns.mobile-one
            = link_to professional_path(professional) do
              = image_tag professional.headshot.url(:thumb), :class => "headshot"
          .eight.columns.mobile-three
            .name
              = link_to professional.name, professional_path(professional), :class => "name"
            - if professional.professions_list
              .professions
                %i.icon-user
                = professional.professions_list
            - if professional.short_address
              .location
                %i.icon-map-marker
                = professional.short_address
      - else
        .row
          .twelve.columns.text-center
            = link_to professional_path(professional) do
              = image_tag professional.headshot.url(:thumb), :class => "headshot"
            .name
              = link_to professional.name, professional_path(professional), :class => "name"
            - if professional.professions_list
              .professions
                %i.icon-user
                = professional.professions_list
            - if professional.short_address
              .location
                %i.icon-map-marker
                = professional.short_address
