- unless professional.nil?
  .box.professional.loop.standard
    %section
      .container
        = link_to professional_path(professional) do
          = image_tag professional.headshot.url(:medium), :class => "headshot"
        %h4.name
          = link_to professional.name, professional_path(professional)
        .whois
          - unless professional.professions.empty?
            %span.professions
              = professional.profession_list
        .address.short
          %i.foundicon-location
          = professional.short_address
    %section
      .container.tight
        %ul.metrics.block-grid.three-up
          %li=t("professionals.metrics.points", :count => professional.points).html.safe
          %li=t("professionals.metrics.answers", :count => professional.answers.count).html_safe
          %li=t("professionals.metrics.reviews", :count => professional.reviews.count).html_safe