%section#content
  .container
    .row
      .two.columns
        = render "admin/shared/nav"
      .ten.columns
        .page.admin.users
          %header
            .container
              .row
                .six.columns
                  %h1 Users
                .six.columns.text-right
                  = link_to "New User", new_admin_user_path, :class => "button"
          %section
            %table.admin-table
              %thead
                %tr
                  %th Email
                  %th Name
                  %th Short Address
                  %th Professional?
                  %th Actions
              %tbody
                = debug @users
                - if false
                  - @users.each do |user|
                    %tr
                      %td.email
                        = user.email
                      %td.name
                        = user.name
                      %td.short-address
                        = user.short_address
                      %td.is-professional
                        = user.is_professional? ? "Yes" : "No"
                      %td.actions
                        = link_to "Edit", edit_admin_user_path(user), :class => "button tiny"
                        = link_to "Delete", admin_user_path(user), :method => :delete, :class => "button tiny alert"
                        - if user.is_professional?
                          = link_to "View Profile", professional_path(user), :class => "button tiny secondary"

