%section#content
  .container
    .row
      .eight.columns
        .page
          %header
            .container
              .professional
                .row
                  .three.columns.text-center
                    .headshot
                      = image_tag @professional.headshot.url(:large)
                  .nine.columns.mobile-text-center
                    %h1.name
                      %a{:href => professional_path(@professional)}
                        = @professional.name
                    %p.professions
                      = @professional.professions_list
          %section
            .container

              %h4
                = "#{@reviews.count} reviews for #{@professional.name}"

              - if @reviews.count == 0
                %p.no-records
                  = "There are no reviews for #{@professional.name} yet."

              - else
                %ul.reviews
                  - @reviews.each do |review|
                    %li
                      = render "reviews/shared/loop", :review => review

              = render "reviews/shared/new", :professional => @professional