.professional.loop
  .headshot
    = image_tag professional.headshot.url(:thumb)
  %h4.name
    = professional.name
  .professions
    = professional.professions.first.name
    - if professional.professions.count > 1
      and
      %span.has-tip.tip-top.noradius{:title => "#{professional.profession_list}"}
        = "#{professional.professions.count-1} more"
  .address
    %i.foundicon-location
    = professional.short_address
  .cta
    %a.button.small{:href => url_for(professional)} View profile
  %ul.metrics.block-grid.three-up
    %li
      .label score
      .value 77
    %li
      .label answers
      .value 12
    %li
      .label reviews
      .value 6