- unless user_signed_in?
  #new_session.reveal-modal
    %hgroup.hr
      %h3= t("users.sessions.new.title")
      %h4.subheader= t("users.sessions.new.subtitle")
    = simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
      = f.input :email
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me
      = f.button :submit, t("users.sessions.new.submit")
    %a.close-reveal-modal &#215;
