!!!
%html

  %head

    %title
      =t "site.title"

    = tag :meta, :name => "viewport",   :content => "width=device-width, initial-scale=1.0"
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

    = google_webfonts_link_tag :bree_serif => 400, :open_sans => ["300italic", "400italic", "600italic", "700italic", "800italic", 400, 300, 600, 700, 800]
    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = javascript_include_tag "application"

    = render "shared/mixpanel"

    - unless @canonical_url.nil?
      %link{:rel => "canonical", :href => @canonical_url}

    = csrf_meta_tags

    %link{:rel => "shortcut icon", :href => "/assets/favicon.png"}

  %body

    %header#header

      %section#language-select
        .container
          .row
            .eight.columns.centered.mobile-twelve
              %ul.block-grid.four-up
                - @all_locales.each do |loc|
                  %li= link_to loc.name, url_for(:locale => loc.code)

      %section#head
        .container
          .row

            .six.columns

              = link_to "/", :class => "brand" do
                %img.logo{:src => "/assets/logo.png", :width => "125", :height => "40", :alt => t("layout.logo.alt")}

              #language
                %a.toggle.slide{:href => "#language-select"}
                  = Locale.find_by_code(locale).name
                  %i.icon-chevron-down

            .six.columns

              #account

                - if user_signed_in?
                  #profile.pull-right
                    - if current_user.is_a_professional?
                      = link_to professional_path(current_user) do
                        = image_tag current_user.headshot.url(:mini), :class => "headshot"
                        = current_user.name.blank? ? current_user.email : current_user.name
                    - else
                      = current_user.name.blank? ? current_user.email : current_user.name
                  #signout.pull-right
                    = link_to destroy_user_session_path, :class => "has-tip no-style", :title => t("layout.account.sign_out"), :method => :delete do
                      %i.icon-signout
                  #settings.pull-right
                    = link_to edit_user_registration_path, :class => "has-tip no-style", :title => t("layout.account.settings") do
                      %i.icon-cog
                  #messages.pull-right
                    = link_to conversations_path, :class => "has-tip no-style", :title => t("layout.account.messages") do
                      %i.icon-envelope
                      - if current_user.messages.unread.count > 0
                        .count= current_user.messages.unread.count
                  #notifications.pull-right
                    = link_to notifications_path, :class => "has-tip no-style", :title => t("layout.account.notifications") do
                      %i.icon-bell
                      - if current_user.notifications.unseen.count > 0
                        .count= current_user.notifications.unseen.count

                - else
                  #login.pull-right
                    %ul.button-group
                      %li
                        %a.button.secondary.small{:href => "#", :data => {"reveal-id" => "new_session"}}
                          =t "layout.account.sign_in"
                      %li
                        %a.button.secondary.small{:href => new_user_registration_path}
                          =t "layout.account.sign_up"

      %section#actions
        #actions-tabs
          .container
            .row
              .twelve.columns
                %dl.tabs.two-up
                  %dd{:class => @current_action_tab == "ask" ? "active" : ""}
                    %a{:href => "#ask"}
                      .hide-for-small
                        %i.icon-question-sign
                        %span
                          =t "layout.actions.ask.tab_name"
                      .show-for-small
                        %i.icon-question-sign
                      .arrow
                  %dd{:class => @current_action_tab == "search" ? "active" : ""}
                    %a{:href => "#search"}
                      .hide-for-small
                        %i.icon-search
                        %span
                          =t "layout.actions.search.tab_name"
                      .show-for-small
                        %i.icon-search
                      .arrow
        #actions-tabs-content
          %ul.tabs-content
            %li#askTab{:class => @current_action_tab == "ask" ? "active" : ""}
              .row
                .three.columns.text-center
                  %img{:src => "/assets/banner_ask_char.png", :width => 250, :height => 160}
                .nine.columns
                  .container
                    %hgroup
                      %h2
                        =t "layout.actions.ask.title"
                      %h3.subheader
                        =t "layout.actions.ask.subtitle"
                    = form_tag new_question_path, :method => "get" do
                      .row
                        .ten.columns
                          = text_field_tag "question[title]", nil, :placeholder => t("layout.actions.ask.placeholder"), :class => "oversize"
                        .two.columns
                          = submit_tag t("layout.actions.ask.button"), :class => "radius button expand postfix"
            %li#searchTab{:class => @current_action_tab == "search" ? "active" : ""}
              .row
                .three.columns.text-center
                  %img{:src => "/assets/banner_search_char.png", :width => 250, :height => 160}
                .nine.columns
                  .container
                    %hgroup
                      %h2
                        =t "layout.actions.search.title"
                      %h3.subheader
                        =t "layout.actions.search.subtitle"
                    = form_tag search_professionals_path, :method => "get" do
                      .row
                        .six.columns
                          = text_field_tag "what", @what, :placeholder => t("layout.actions.search.placeholders.what"), :class => "oversize autocomplete", :data => {:source => "/#{I18n.locale}/whats.json"}
                        .four.columns
                          = text_field_tag "where", @where, :placeholder => t("layout.actions.search.placeholders.where"), :class => "oversize autocomplete", :data => {:source => "/#{I18n.locale}/wheres.json"}
                        .two.columns
                          = submit_tag t("layout.actions.search.button"), :class => "radius button expand postfix"

    %section#content
      .container
        = yield


    %section#modals

      = render "users/sessions/modals/new"
      = render "conversations/shared/modals/new"

    = render "shared/footer", :categories => @categories, :professions => @professions