!!!
%html

  %head

    %title
      =t :site_title

    = tag :meta, :name => "viewport",   :content => "width=device-width, initial-scale=1.0"
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

    = google_webfonts_link_tag :titillium_web => [400,700]
    = stylesheet_link_tag    "application", :media => "all"

    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = javascript_include_tag "application"

    - unless @canonical_url.nil?
      %link{:rel => "canonical", :href => @canonical_url}

    = csrf_meta_tags

    %link{:rel => "shortcut icon", :href => "/assets/favicon.png"}

  %body

    %header#header

      %section#language-select
        .container
          .row
            .eight.columns.centered.mobile-twelve
              %ul.block-grid.four-up
                - Locale.all.each do |loc|
                  %li
                    %a{:href => url_for(:locale => loc.code)}
                      = loc.name

      %section#head
        .container
          .row

            .six.columns

              %a.brand{:href => "/"}
                %img.logo{:src => "/assets/logo.png", :width => "125", :height => "40", :alt => t(:logo_alt)}

              #language
                %a.toggle.slide{:href => "#language-select"}
                  = Locale.find_by_code(locale).name
                  %i.icon-chevron-down

            .six.columns

              %ul.account.button-group

                - if user_signed_in?
                  %li
                    .button.secondary.small.split.dropdown
                      = link_to current_user.email, edit_user_registration_path
                      %span
                      %ul.dropdown-menu
                        %li= link_to "My profile", user_path(current_user)
                        %li= link_to "Settings", edit_user_registration_path
                        %li= link_to "Sign out", destroy_user_session_path, :method => :delete

                - else
                  %li
                    %a.button.secondary.small{:href => "#", :data => {"reveal-id" => "create_session"}}
                      =t("sign_in")
                  %li
                    %a.button.secondary.small{:href => new_user_registration_path}
                      =t("sign_up")

      = render "shared/actions"

    = yield

    .row
      .one.column 1
      .one.column 2
      .one.column 3
      .one.column 4
      .one.column 5
      .one.column 6
      .one.column 7
      .one.column 8
      .one.column 9
      .one.column 10
      .one.column 11
      .one.column 12


    %section#modals

      = render "shared/modals/create_session"

    = render "shared/footer", :categories => @categories, :professions => @professions