!!!
%html

  %head

    %title Kixo

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = google_webfonts_link_tag :open_sans => [400, 700]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %header#header

      %section#head
        .container
          .row
            .six.columns
              %a.brand{:href => "/"}
                %img.logo{:src => "/assets/logo.png", :width => "125", :height => "40", :alt => t(:logo_alt)}
              %a.toggle{:href => "#"}
                %i.icon.icon-plus-sign
              %ul.nav.menu
                %li
                  %a{:href => "/how-it-works"} How It Works
                %li
                  %a{:href => "/for-professionals"} For Professionals
            .six.columns
              %ul.account.button-group.radius
                - if user_signed_in?
                  %li
                    .small.button.secondary.radius.split.dropdown
                      %a{:href => "#"}
                        = current_user.email
                      %span
                      %ul.dropdown-menu
                        %li
                          = link_to "Sign out", destroy_user_session_path, :method => :delete
                - else
                  %li
                    %a.small.button.secondary.radius{:href => new_user_session_path}
                      =t :sign_in
                  %li
                    %a.small.button.secondary.radius{:href => new_user_registration_path}
                      =t :sign_up
              %ul.actions.button-group.radius
                %li
                  %a.small.button.radius{:href => "#", :data => {:"reveal-id" => "askModal"}}
                    =t :action_ask
                %li
                  %a.small.button.radius{:href => "#"}
                    =t :action_find
                %li
                  %a.small.button.radius{:href => "#"}
                    =t :action_review

      %section#megadrop
        .container
          .row
            .three.columns
              #about-kixo
                %h5
                  =t :about_kixo_title
                %p
                  =t :about_kixo_description
            .nine.columns
              %dl.tabs.pill
                %dd.active
                  %a.active{:href => "#browsebytopic"}
                    =t :browse_by_topic
                %dd
                  %a{:href => "#browsebyprofession"}
                    =t :browse_by_profession
                %dd
                  %a{:href => "#browsebylocation"}
                    =t :browse_by_location
              %ul.tabs-content
                %li#browsebytopicTab.active
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                %li#browsebyprofessionTab
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                %li#browsebylocationTab
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/

    %section#banner
      .container
        .row
          .twelve.columns.centered
            #hero
              %h1
                =t :hero_title
              %h3
                =t :hero_subtitle
            #tools
              .ten.columns.centered
                %dl.tabs.contained.three-up
                  %dd.active
                    %a{:href => "#ask"}
                      %i.icon.icon-comment
                      =t :action_ask
                  %dd
                    %a.icon-search{:href => "#find"}
                      %i.icon.icon-search
                      =t :action_find
                  %dd
                    %a.icon-search{:href => "#review"}
                      %i.icon.icon-star
                      =t :action_review
                %ul.tabs-content.contained
                  %li#askTab.active
                    %form.custom
                      %label{:for => "question"} Get free advice from professionals!
                      .row
                        .twelve.columns
                          %textarea#question{:placeholder => "Type your question here..."}
                      .row
                        .four.columns.offset-by-six
                          %select#category.hide
                            %option{:selected => "selected"} This is a dropdown
                            %option This is another option
                            %option Look, a third option
                          .custom.dropdown
                            %a.current Select a category
                            %a.selector
                            %ul
                              %li Category 1
                              %li Category 2
                              %li Category 3
                        .two.columns
                          %a.radius.button.expand.postfix Ask
                  %li#findTab
                    %form
                      %label{:for => "what"} Find professionals near you!
                      .row
                        .six.columns
                          %input#what{:type => "text", :placeholder => "What?"}
                        .four.columns
                          %input#where{:type => "text", :placeholder => "Where?"}
                        .two.columns
                          %a.radius.button.expand.postfix Find
                  %li#reviewTab
                    %form
                      %label{:for => "who"} Review a professional!
                      .row
                        .ten.columns
                          %input#who{:type => "text", :placeholder => "Who do you want to review?"}
                        .two.columns
                          %a.radius.button.expand.postfix Review


    %section#content
      .container
        .row
          .eight.columns
            %section#main
              = yield
          .four.columns
            %aside#sidebar

    %footer#footer


    %section#modal
      #askModal.reveal-modal.large
        %h2 Ask
        %p.lead Your couch. It is mine.
        %p Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        %a.close-reveal-modal &#215;
