!!!
%html

  %head

    %title
      =t :site_title

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = google_webfonts_link_tag :titillium_web => [400,700]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{:rel => "shortcut icon", :href => "/assets/favicon.png"}

  %body

    %header#header

      %section#language-select
        .container
          .row
            .eight.columns.centered.mobile-twelve
              %ul.block-grid.four-up
                - Locale.all.each do |loc|
                  %li
                    %a{:href => url_for(:locale => loc.code)}
                      = loc.name

      %section#head
        .container
          .row
            .six.columns
              %a.brand{:href => "/"}
                %img.logo{:src => "/assets/logo.png", :width => "125", :height => "40", :alt => t(:logo_alt)}
              #language
                %a.toggle{:href => "#"}
                  = Locale.find_by_code(locale).name
                  %i.foundicon-down-arrow
            .six.columns
              %ul.account.button-group
                - if user_signed_in?
                  %li
                    .small.button.secondary.split.dropdown
                      %a{:href => "#"}
                        = current_user.email
                      %span
                      %ul.dropdown-menu
                        %li
                          = link_to "Sign out", destroy_user_session_path, :method => :delete
                - elsif professional_signed_in?
                  %li
                    .small.button.secondary.split.dropdown
                      %a{:href => "#"}
                        = current_professional.email
                      %span
                      %ul.dropdown-menu
                        %li
                          = link_to "Sign out", destroy_professional_session_path, :method => :delete
                - else
                  %li
                    %a.small.button.secondary{:href => new_user_session_path}
                      =t :sign_in
                  %li
                    %a.small.button.secondary{:href => new_user_registration_path}
                      =t :sign_up

      = render "shared/actions"

    = yield

    = render :partial => "shared/footer", :locales => {:categories => @categories, :professions => @professions}

    %section#modal