!!!
%html
  %head
    %title= @page_title or t("site.title")
    = tag :meta, :name => "viewport",   :content => "width=device-width, initial-scale=1.0"
    = tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY']
    = google_webfonts_link_tag :bree_serif => 400, :open_sans => ["300italic", "400italic", "600italic", "700italic", "800italic", 400, 300, 600, 700, 800]
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = javascript_include_tag "application"
    %link{:rel => "canonical", :href => @canonical_url || url_for}
    %link{:rel => "shortcut icon", :href => "/assets/favicon.png"}
    = csrf_meta_tags
  %body
    = render "shared/analytics"
    %header#header
      .container.fixed
        .row
          %nav.top-bar
            %ul
              %li.name
                = link_to "/#{I18n.locale}" do
                  %img#logo{:src => "/assets/logo.png", :width => "140", :height => "45", :alt => t("layout.logo.alt")}
              %li.toggle-topbar
                = link_to "", "#"
            %section
              %ul.left
                %li.has-dropdown
                  = link_to Locale.find_by_code(locale).name, "#"
                  %ul.dropdown
                    - @other_locales.each do |loc|
                      %li= link_to loc.name, url_for(:locale => loc.code)
              %ul.right
                %li.divider
                %li#new_question
                  = link_to t("questions.new.label"), new_question_path
                %li.divider
                - if user_signed_in?
                  %li#account.has-dropdown
                    = link_to "#" do
                      = current_user.display_name
                    %ul.dropdown
                      - if current_user.is_professional?
                        %li.profile
                          = link_to "Profile", professional_path(current_user)
                      %li#settings
                        = link_to "Settings", edit_user_registration_path
                      %li.divider
                      %li#messages
                        = link_to conversations_path do
                          - if current_user.messages.unread.count > 0
                            .count= current_user.messages.unread.count
                          Messages
                      %li#notifications
                        = link_to notifications_path do
                          Notifications
                          - if current_user.notifications.unseen.count > 0
                            .count= current_user.notifications.unseen.count
                      %li.divider
                      - if current_user.is_admin?
                        %li#admin
                          = link_to t("admin.label"), admin_root_path
                        %li.divider
                      %li#signout
                        = link_to t("users.sessions.destroy.label"), destroy_user_session_path, :method => :delete
                - else
                  %li#login.has-dropdown
                    = link_to t("users.sessions.new.label"), new_user_session_path
                    %ul.dropdown
                      %li
                        = simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
                          = f.input :email, :required => false
                          = f.input :password
                          .row
                            .six.columns
                              - if devise_mapping.rememberable?
                                = f.input :remember_me, :as => :boolean
                            .six.columns.text-right
                              = f.button :submit, t("users.sessions.new.submit")
                  %li.divider
                  %li#signup
                    = link_to t("users.registrations.new.label"), new_user_registration_path
                %li.divider
    %section#flashes
      .container
        = render "shared/flashes"
    = yield
    %section#modals
      = render "users/sessions/modals/new"
      = render "conversations/shared/modals/new"
    %footer#footer
      .container
        .row
          .four.columns
            #about-kixo
              %h5
                = link_to "/#{I18n.locale}" do
                  = image_tag "/assets/logo_grayscale.png", :width => 100, :height => 32, :alt => t("layout.logo.alt")
              %p#kixo-description
                =t("site.about.description")
            #social-media
              %ul.inline
                %li
                  = link_to "http://twitter.com/kixo", :target => "_blank" do
                    %i.icon-twitter-sign
                %li
                  = link_to "http://fb.com/kixo.ca", :target => "_blank" do
                    %i.icon-facebook-sign
                %li
                  = link_to "http://www.linkedin.com/company/2829266", :target => "_blank" do
                    %i.icon-linkedin-sign
                %li
                  = link_to "http://www.google.com", :target => "_blank" do
                    %i.icon-google-plus-sign
                %li
                  = link_to "http://www.pinterest.com", :target => "_blank" do
                    %i.icon-pinterest-sign
          .two.columns
            #browse_by_category
              %h5
                = t("categories.index.title")
              %ul.categories
                - @top_categories.each do |category|
                  %li= link_to category.name, category_path(category)
                - if @top_categories.count < @all_categories.count
                  %li= link_to t("categories.index.view_all"), categories_path
          .two.columns
            #browse_by_topic
              %h5
                = t("topics.index.title")
              %ul.topics
                - @top_topics.each do |topic|
                  %li= link_to topic.name, category_topic_path(topic.category, topic)
          .two.columns
            #browse_by_profession
              %h5
                = t("professions.index.title")
              %ul.topics
                - @top_professions.each do |profession|
                  %li= link_to profession.name, category_profession_path(profession.category, profession)
          .two.columns
            #browse_by_locality
              %h5
                = t("localities.index.title")
              %ul.localities
                - @top_localities.each do |locality|
                  %li= link_to locality.name, country_region_locality_path(locality.region.country, locality.region, locality)
