!!!
%html

  %head

    %title
      =t :site_title

    = tag :meta, :name => "viewport",   :content => "width=device-width, initial-scale=1.0"
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

    = google_webfonts_link_tag :bree_serif => 400, :open_sans => ["300italic", "400italic", "600italic", "700italic", "800italic", 400, 300, 600, 700, 800]
    = stylesheet_link_tag    "application", :media => "all"

    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = javascript_include_tag "application"

    = render "shared/mixpanel"

    - unless @canonical_url.nil?
      %link{:rel => "canonical", :href => @canonical_url}

    = csrf_meta_tags

    %link{:rel => "shortcut icon", :href => "/assets/favicon.png"}

  %body

    %header#header

      %section#language-select
        .container
          .row
            .eight.columns.centered.mobile-twelve
              %ul.block-grid.four-up
                - Locale.all.each do |loc|
                  %li
                    %a{:href => url_for(:locale => loc.code)}
                      = loc.name

      %section#head
        .container
          .row

            .six.columns

              %a.brand{:href => "/"}
                %img.logo{:src => "/assets/logo.png", :width => "125", :height => "40", :alt => t(:logo_alt)}

              #language
                %a.toggle.slide{:href => "#language-select"}
                  = Locale.find_by_code(locale).name
                  %i.icon-chevron-down

            .six.columns

              #account

                - if user_signed_in?
                  #settings.pull-right
                    %ul.button-group
                      %li
                        .button.secondary.small.split.dropdown
                          = link_to current_user.email, edit_user_registration_path
                          %span
                          %ul.dropdown-menu
                            %li= link_to "Settings", edit_user_registration_path
                            %li= link_to "My profile", professional_path(current_user)
                            %li.divider
                            %li= link_to "Sign out", destroy_user_session_path, :method => :delete
                  #messages.pull-right
                    %a.button.small.secondary{:href => conversations_path}
                      Messages
                      %span.count
                        = current_user.messages.unread.count

                - else
                  #login.pull-right
                    %ul.button-group
                      %li
                        %a.button.secondary.small{:href => "#", :data => {"reveal-id" => "new_session"}}
                          =t("sign_in")
                      %li
                        %a.button.secondary.small{:href => new_user_registration_path}
                          =t("sign_up")

      = render "shared/actions"

    %section#content
      .container
        = yield


    %section#modals

      = render "users/sessions/modals/new"
      = render "conversations/shared/modals/new"

    = render "shared/footer", :categories => @categories, :professions => @professions