!!!
%html

  %head

    %title Kixo

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = google_webfonts_link_tag :open_sans => [400, 700]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %header#header
      .container
        .row
          .four.columns
            %a.brand{:href => "/"}
              %img{:src => "/assets/logo.png", :width => "158", :height => "50", :alt => "Kixo"}
          .eight.columns
            %ul.actions
              - if user_signed_in?
                %li
                  .small.button.split.dropdown
                    %a{:href => "#"}
                      = current_user.email
                    %span
                    %ul.dropdown-menu
                      %li
                        = link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                %li
                  %a.small.button{:href => new_user_session_path} Sign in
                %li
                  %a.small.button{:href => new_user_registration_path} Sign up
            %ul
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "/how-it-works"} How It Works
              %li
                %a{:href => "/about"} About

    %section#content
      .container

        .row
          .span8
            %section#main
              = yield
          .span4
            %aside#sidebar

    %footer#footer
