!!!
%html
  %head
    = render "shared/head"
  %body
    = render "shared/analytics"
    = render "shared/header"
    %section#flashes
      .container
        = render "shared/flashes"
    = yield
    %section#modals
      = render "conversations/shared/modals/new"
    = render "shared/footer"
