!!!
%html

  %head

    %title
      =t :site_title

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = google_webfonts_link_tag :open_sans => [400, 700]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %header#header

      %section#head
        .container
          .row
            .six.columns
              %a.brand{:href => "/"}
                %img.logo{:src => "/assets/logo.png", :width => "125", :height => "40", :alt => t(:logo_alt)}
              %a.toggle{:href => "#"}
                %i.icon.icon-plus-sign
              %ul.nav.menu
                %li
                  %a{:href => "/how-it-works"} How It Works
                %li
                  %a{:href => "/for-professionals"} For Professionals
            .six.columns
              %ul.account.button-group.radius
                - if user_signed_in?
                  %li
                    .small.button.secondary.radius.split.dropdown
                      %a{:href => "#"}
                        = current_user.email
                      %span
                      %ul.dropdown-menu
                        %li
                          = link_to "Sign out", destroy_user_session_path, :method => :delete
                - else
                  %li
                    %a.small.button.secondary.radius{:href => "#", :data => {:"reveal-id" => "signin"}}
                      =t :sign_in
                  %li
                    %a.small.button.secondary.radius{:href => "#", :data => {:"reveal-id" => "signup"}}
                      =t :sign_up
              %ul.actions.button-group.radius
                %li
                  %a.small.button.radius{:href => new_question_path}
                    =t :action_ask
                %li
                  %a.small.button.radius{:href => "#"}
                    =t :action_find
                %li
                  %a.small.button.radius{:href => "#"}
                    =t :action_review

      %section#megadrop
        .container
          .row
            .three.columns
              #about-kixo
                %h5
                  =t :about_kixo_title
                %p
                  =t :about_kixo_description
            .nine.columns
              %dl.tabs.pill
                %dd.active
                  %a.active{:href => "#browsebytopic"}
                    =t :browse_by_topic
                %dd
                  %a{:href => "#browsebyprofession"}
                    =t :browse_by_profession
                %dd
                  %a{:href => "#browsebylocation"}
                    =t :browse_by_location
              %ul.tabs-content
                %li#browsebytopicTab.active
                %li#browsebyprofessionTab
                %li#browsebylocationTab

    = yield

    %footer#footer


    %section#modal
      #signup.reveal-modal.small
        %h2 Sign up
        = form_tag url_for(:controller => "devise/registrations", :action => "create"), :method => "post", :class => "devise ajax sign_up" do
          .alert-box.alert Error! Invalid email or password.
          .alert-box.success Success!
          = text_field_tag 'user[email]', nil, :placeholder => "Email address"
          = password_field_tag 'user[password]', nil, :placeholder => "Password"
          = submit_tag "Sign up", :class => "small button"
        %a.close-reveal-modal &#215;
      #signin.reveal-modal.small
        %h2 Sign in
        = form_tag url_for(:controller => "devise/sessions", :action => "create", :format => :json), :method => "post", :class => "devise ajax sign_in" do
          .alert-box.alert Error! Invalid email or password.
          .alert-box.success Success!
          = text_field_tag 'user[email]', nil, :placeholder => "Email address"
          = password_field_tag 'user[password]', nil, :placeholder => "Password"
          .row.collapse
            .four.columns
              = submit_tag "Sign in", :class => "small button"
            .eight.columns
              .right
                %a{:href => "#"} Forgot your password?
        %a.close-reveal-modal &#215;



