!!!
%html

  %head

    %title
      =t :site_title

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = google_webfonts_link_tag :titillium_web => [400,700]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = csrf_meta_tags

    %link{:rel => "shortcut icon", :href => "/assets/favicon.png"}

  %body

    = yield