%section#content
  .container
    .row
      .four.columns
        %ul.vertical.tabs.white
          %li.active= link_to t("users.registrations.edit.sections.account.label"), "#account"
          %li= link_to t("users.registrations.edit.sections.profile.label"), "#profile"
          %li= link_to t("users.registrations.edit.sections.email_notifications.label"), "#notifications"
          %li= link_to t("users.registrations.edit.sections.billing.label"), "#billing"
      .eight.columns
        %ul.tabs-content
          %li#accountTab.active
            = simple_form_for(resource, :as => resource_name, :url => "#{registration_path(resource_name)}#account", :html => { :method => :put }) do |f|
              .page
                %header
                  .container
                    %hgroup
                      %h1=t "users.registrations.edit.sections.account.title"
                      %h4.subheader=t "users.registrations.edit.sections.account.subtitle"
                %section
                  .container
                    = f.input :email
                    = f.input :password
                    = f.input :password_confirmation
                %section
                  .container
                    = f.association :locale, :collection => @all_locales
                %section
                  .container
                    = f.button :submit, t("users.registrations.edit.submit")
                %section
                  .container
                    %p
                      = t("users.registrations.delete.unhappy")
                      = link_to t("users.registrations.delete.title"), registration_path(resource_name), :data => { :confirm => t("users.registrations.delete.confirm") }, :method => :delete
          %li#profileTab
            = simple_form_for(resource, :as => resource_name, :url => "#{registration_path(resource_name)}#profile", :html => { :method => :put }) do |f|
              - if resource.is_a_professional
                .page
                  %header
                    .container
                      %hgroup
                        %h1=t "users.registrations.edit.sections.profile.title"
                        %h4.subheader=t "users.registrations.edit.sections.profile.subtitle"
                  %section
                    %header
                      .container
                        %h3= t("users.registrations.edit.sections.profile.basic.title")
                    .container
                      .row
                        .six.columns
                          = f.input :name, :required => true
                          = f.input :tel
                          = f.input :website
                          = f.input :headshot
                          = f.association :locales, :collection => @all_locales, :as => :check_boxes, :wrapper => :block_grid, :item_wrapper_class => "block-item three-up"
                        .six.columns
                          = render "shared/location_selector", :f => f, :resource => resource, :postal_code => true, :street_address => true
                        .twelve.columns
                          = f.input :bio, :input_html => {:rows => 7}
                  %section
                    %header
                      .container
                        %h3= t("users.registrations.edit.sections.profile.categories.title")
                    .container
                      = f.input :clear_topics, :as => :hidden, :value => true
                      = f.input :clear_professions, :as => :hidden, :value => true
                      %ul.accordion.compact.marg-bottom
                        - @all_categories.each do |category|
                          %li
                            .title
                              %h5= category.name
                            .content
                              = f.association :topics, :collection => category.topics, :as => :check_boxes, :wrapper => :block_grid, :item_wrapper_class => "block-item three-up"
                              %hr
                              = f.association :professions, :collection => category.professions, :as => :check_boxes, :wrapper => :block_grid, :item_wrapper_class => "block-item three-up"
                  %section
                    %header
                      .container
                        %h3= t("users.registrations.edit.sections.profile.social.title")
                    .container
                      = f.input :twitter
                      = f.input :facebook
                      = f.input :google_plus
                      = f.input :linkedin
                  %section
                    .container
                      = f.input :is_a_professional
                  %section
                    .container
                      = f.button :submit, t("users.registrations.edit.submit")
              - else
                .page
                  %header
                    .container
                      %hgroup
                        %h1=t "users.registrations.edit.sections.profile.title"
                        %h4.subheader=t "users.registrations.edit.sections.profile.subtitle"
                  %section
                    .container
                      = f.input :name
                      = render "shared/location_selector", :f => f
                  %section
                    .container
                      = f.input :is_a_professional
                  %footer
                    .container
                      = f.button :submit, t("users.registrations.edit.submit")
          %li#notificationsTab
            = simple_form_for(resource, :as => resource_name, :url => "#{registration_path(resource_name)}#notifications", :html => { :method => :put }) do |f|
              .page
                %header
                  .container
                    %hgroup
                      %h1=t "users.registrations.edit.sections.email_notifications.title"
                      %h4.subheader=t "users.registrations.edit.sections.email_notifications.subtitle"
                %section
                  .container
                    %fieldset
                      %legend=t "users.registrations.edit.sections.email_notifications.legend"
                      = f.input :notify_of_kixo_news
                      = f.input :notify_of_partner_news
                      = f.input :notify_of_new_messages
                      = f.input :notify_of_answers
                      = f.input :notify_of_replies
                      = f.input :notify_of_similar_questions
                %section
                  .container
                    = f.button :submit, t("users.registrations.edit.submit")
          %li#billingTab
            .page
              %header
                .container
                  %hgroup
                    %h1=t "users.registrations.edit.sections.billing.title"
                    %h4.subheader=t "users.registrations.edit.sections.billing.subtitle"
              %section
                .container
                  %a.button{:href => "#", :data => {"reveal-id" => "create_card"}}=t "cards.new.label"
    #create_card.reveal-modal
      = render "cards/shared/new", :resource => resource, :resource_name => resource_name
