.row

  .four.columns

    %ul.vertical.tabs.white
      %li.active
        %a{:href => "#account"} Account
      %li
        %a{:href => "#notifications"} Email notifications
      %li
        %a{:href => "#profile"} Profile
      %li
        %a{:href => "#billing"} Billing
      %li
        %a{:href => "#categories"} Categories
      %li
        %a{:href => "#contact"} Contact

  .eight.columns

    %ul.tabs-content

      %li#accountTab.active

        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

          .page

            %header
              .container
                %hgroup
                  %h1 My Account
                  %h4.subheader Change your basic account, password and language setting

            %section
              .container
                .row
                  .three.columns
                    = f.label :email, :class => "inline right"
                  .seven.columns.end
                    = f.email_field :email
                .row
                  .three.columns
                    = f.label :password, :class => "inline right"
                  .seven.columns.end
                    = f.password_field :password, :autocomplete => "off"
                .row
                  .three.columns
                    = f.label :password_confirmation, "Confirmation", :class => "inline right"
                  .seven.columns.end
                    = f.password_field :password_confirmation

            %section
              .container
                .row
                  .three.columns
                    = f.label :locale_id, "Main language", :class => "inline right"
                  .seven.columns.end
                    = f.select :locale_id, @all_locales.collect {|locale| [locale.name, locale.id]}
                .row
                  .three.columns
                    = f.label :locale_ids, "Other languages", :class => "inline right"
                  .seven.columns.end
                    %ul.block-grid.three-up
                      - @all_locales.each do |locale|
                        %li
                          %label
                            = check_box_tag "user[locale_ids][]", locale.id, (current_user and current_user.locales.include?(locale))
                            = locale.name

            %section
              .container
                .row
                  .seven.columns.offset-by-three.end
                    = f.submit "Update", :class => "submit button"

            %section
              .container
                .row
                  .seven.columns.offset-by-three.end
                    %p
                      = "Unhappy?"
                      = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

      %li#notificationsTab

        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

          .page

            %header
              .container
                %hgroup
                  %h1 Email notifications
                  %h4.subheader Control when and how often Kixo sends email to you

            %section
              .container
                %fieldset
                  %legend
                    Email me when
                  .row
                    .ten.columns
                      = f.label :notify_of_kixo_news
                    .two.columns.text-right
                      = f.select :notify_of_kixo_news, [["Yes", true], ["No", false]]
                  .row
                    .ten.columns
                      = f.label :notify_of_partner_news
                    .two.columns.text-right
                      = f.select :notify_of_partner_news, [["Yes", true], ["No", false]]
                  .row
                    .ten.columns
                      = f.label :notify_of_new_messages
                    .two.columns.text-right
                      = f.select :notify_of_new_messages, [["Yes", true], ["No", false]]
                  .row
                    .ten.columns
                      = f.label :notify_of_answers
                    .two.columns.text-right
                      = f.select :notify_of_answers, [["Yes", true], ["No", false]]
                  .row
                    .ten.columns
                      = f.label :notify_of_replies
                    .two.columns.text-right
                      = f.select :notify_of_replies, [["Yes", true], ["No", false]]
                  .row
                    .ten.columns
                      = f.label :notify_of_similar_questions
                    .two.columns.text-right
                      = f.select :notify_of_similar_questions, [["Yes", true], ["No", false]]

            %section
              .container
                .row
                  .twelve.columns
                    = f.submit "Update", :class => "submit button"


      %li#profileTab

        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

          .page

            %header
              .container
                %hgroup
                  %h1 Profile
                  %h4.subheader Edit your profile

            %section
              .container
                .row
                  .three.columns
                    = f.label :name, :class => "inline right"
                  .seven.columns.end
                    = f.text_field :name
                .row
                  .three.columns
                    = f.label :headshot, :class => "inline right"
                  .seven.columns.end
                    = f.file_field :headshot
                .row
                  .three.columns
                    = f.label :bio, :class => "inline right"
                  .seven.columns.end
                    = f.text_area :bio, :rows => 5

            %section
              .container
                .row
                  .seven.columns.offset-by-three.end
                    = f.submit "Update", :class => "submit button"

      %li#billingTab

        .page

          %header
            .container
              %hgroup
                %h1 Billing
                %h4.subheader Edit your billing information

          %section
            .container

              %a.button{:href => "#", :data => {"reveal-id" => "create_card"}}
                Add/Edit Credit Card

      %li#categoriesTab

        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

          .page

            %header
              .container
                %hgroup
                  %h1 Categories
                  %h4.subheader Select topics and professions

            %section
              .container
                .row
                  .twelve.columns
                    %ul.accordion.compact.marg-bottom
                      - @all_categories.each do |category|
                        %li
                          .title
                            %h5
                              = category.name
                          .content
                            %fieldset
                              %legend Select topics
                              %ul.block-grid.three-up
                                - category.topics.each do |topic|
                                  %li
                                    %label
                                      = check_box_tag "user[topic_ids][]", topic.id, (current_user and current_user.topics.include?(topic))
                                      = topic.name
                            %fieldset
                              %legend Select professions
                              %ul.block-grid.three-up
                                - category.professions.each do |profession|
                                  %li
                                    %label
                                      = check_box_tag "user[profession_ids][]", profession.id, (current_user and current_user.professions.include?(profession))
                                      = profession.name

            %section
              .container
                .row
                  .twelve.columns
                    = f.submit "Update", :class => "submit button"

      %li#contactTab

        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

          .page

            %header
              .container
                %hgroup
                  %h1 Contact Information
                  %h4.subheader Edit your contact information

            %section
              .container
                = render "loops/location_selector", :f => f, :postal_code => resource.is_a_professional, :street_address => resource.is_a_professional

            %section
              .container
                .row
                  .seven.columns.offset-by-three.end
                    = f.submit "Update", :class => "submit button"

#create_card.reveal-modal
  %hgroup.hr
    %h3 Credit Card
    %h4.subheader Add or edit a credit card
  = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "stripe" } do |f|
    = devise_error_messages!
    .stripe-errors.alert-box.alert.hidden
    = f.hidden_field :card
    .row
      .twelve.columns
        = label_tag :card_number, "Card Number"
        = text_field_tag :card_number, nil, :name => nil
    .row
      .six.columns
        = label_tag :card_exp_month, "Card Expiration"
        .row
          .six.columns
            = select_month nil, {:add_month_numbers => true}, {:name => nil, :id => "card_exp_month"}
          .six.columns
            = select_year  nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:name => nil, :id => "card_exp_year"}
      .six.columns
        = label_tag :card_cvc, "Security Code (CVC)"
        = text_field_tag :card_cvc, nil, :name => nil
    .row
      .twelve.columns
        = f.submit "Add/Edit Card", :class => "submit button"
  %a.close-reveal-modal &#215;