%section#content
  .container

    .row

      .four.columns

        %ul.vertical.tabs.white
          %li.active
            %a{:href => "#account"} Account
          %li
            %a{:href => "#notifications"} Email notifications
          %li
            %a{:href => "#profile"} Profile
          %li
            %a{:href => "#categories"} Categories
          %li
            %a{:href => "#contact"} Contact

      .eight.columns

        %ul.tabs-content

          %li#accountTab.active

            .page

              %header
                .container
                  %hgroup
                    %h1 My Account
                    %h3.subheader Change your basic account, password and language setting

              %section
                .container

                  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
                    = devise_error_messages!

                    .row
                      .twelve.columns
                        = f.label :email
                        = f.email_field :email

                    .row
                      .twelve.columns
                        = f.label :password
                        = f.password_field :password, :autocomplete => "off"

                    .row
                      .twelve.columns
                        = f.label :password_confirmation
                        = f.password_field :password_confirmation

                    .row
                      .twelve.columns
                        = f.submit "Update", :class => "button"

                  %hr

                  .row
                    .twelve.columns
                      %h3 Cancel my account
                      %p
                        = "Unhappy?"
                        = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

          %li#notificationsTab

            .page

              %header
                .container
                  %hgroup
                    %h1 Email notifications
                    %h3.subheader Control when and how often Kixo sends email to you

              %section
                .container

                  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
                    = devise_error_messages!

                    %fieldset
                      %legend
                        Email me when

                      .row
                        .ten.columns
                          = f.label :notify_of_kixo_news
                        .two.columns.text-right
                          = f.select :notify_of_kixo_news, [["Yes", true], ["No", false]]

                      .row
                        .ten.columns
                          = f.label :notify_of_partner_news
                        .two.columns.text-right
                          = f.select :notify_of_partner_news, [["Yes", true], ["No", false]]

                      .row
                        .ten.columns
                          = f.label :notify_of_new_messages
                        .two.columns.text-right
                          = f.select :notify_of_new_messages, [["Yes", true], ["No", false]]

                      .row
                        .ten.columns
                          = f.label :notify_of_answers
                        .two.columns.text-right
                          = f.select :notify_of_answers, [["Yes", true], ["No", false]]

                      .row
                        .ten.columns
                          = f.label :notify_of_replies
                        .two.columns.text-right
                          = f.select :notify_of_replies, [["Yes", true], ["No", false]]

                      .row
                        .ten.columns
                          = f.label :notify_of_similar_questions
                        .two.columns.text-right
                          = f.select :notify_of_similar_questions, [["Yes", true], ["No", false]]

                    .row
                      .twelve.columns
                        = f.submit "Update", :class => "button"


          %li#profileTab

            .page

              %header
                .container
                  %hgroup
                    %h1 Profile
                    %h3.subheader Edit your profile

              %section
                .container

                  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
                    = devise_error_messages!

                    .row
                      .twelve.columns
                        = f.label :name
                        = f.text_field :name

                    .row
                      .twelve.columns
                        = f.label :headshot
                        = f.file_field :headshot

                    .row
                      .twelve.columns
                        = f.label :bio
                        = f.text_area :bio, :rows => 5

                    .row
                      .twelve.columns
                        = f.submit "Update", :class => "button"

          %li#categoriesTab

            .page

              %header
                .container
                  %hgroup
                    %h1 Categories
                    %h3.subheader Select topics and professions

              %section
                .container

                  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
                    = devise_error_messages!

                    .row
                      .twelve.columns
                        %ul.accordion.compact.marg-bottom
                          - @all_categories.each do |category|
                            %li
                              .title
                                %h5
                                  = category.name
                              .content
                                %fieldset
                                  %legend Select topics
                                  %ul.block-grid.three-up
                                    - category.topics.each do |topic|
                                      %li
                                        %label
                                          = check_box_tag "user[topic_ids][]", topic.id, (current_user and current_user.topics.include?(topic))
                                          = topic.name
                                %fieldset
                                  %legend Select professions
                                  %ul.block-grid.three-up
                                    - category.professions.each do |profession|
                                      %li
                                        %label
                                          = check_box_tag "user[profession_ids][]", profession.id, (current_user and current_user.professions.include?(profession))
                                          = profession.name

                    .row
                      .twelve.columns
                        = f.submit "Update", :class => "button"

          %li#contactTab

            .page

              %header
                .container
                  %hgroup
                    %h1 Contact Information
                    %h3.subheader Edit your contact information

              %section
                .container

                  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
                    = devise_error_messages!

                    = render "shared/location_selector", :f => f

                    .row
                      .twelve.columns
                        = f.submit "Update", :class => "button"