%section#content
  .container
    .row
      .eight.columns
        .page
          .page-head

            .header-group
              %h1 Sign Up
              %h3.subheader Create a free account and connect with professionals

          .page-body

            = render :partial => "shared/show_flash"

            = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

              = f.label :email
              = f.email_field :email

              .row
                .six.columns
                  = f.label :password
                  = f.password_field :password
                .six.columns
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation

              = f.label :name
              = f.email_field :name

              .row
                .eight.columns
                  = f.label :locality, "City"
                  = f.text_field :locality
                .four.columns
                  = f.label :postal_code
                  = f.text_field :postal_code

              .actions
                = f.submit "Sign up", :class => "button"

      .four.columns
        = render "users/shared/panels"
