%section#content
  .container
    .row
      .seven.columns.offset-by-one
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          .page
            %header
              .container
                %hgroup
                  %h1= t("users.registrations.new.title")
                  %h4.subheader= t("users.registrations.new.subtitle")
            = render "shared/errors", object: f.object
            %section
              .container
                = f.input :name
                = f.input :email
                .row
                  .six.columns
                    = f.input :password, :required => true
                  .six.columns
                    = f.input :password_confirmation, :required => true
                = render "shared/location_selector", :f => f, :street_address => false
                = f.input :accepts, :as => :boolean
            %section
              .container
                = f.button :submit, t("users.registrations.new.submit")
      .three.columns.end
        .panel.callout.green
          %h5= t("users.registrations.new.panels.professional.title")
          %p= t("users.registrations.new.panels.professional.content").html_safe
          %p= link_to t("users.registrations.new.panels.professional.cta"), new_professional_registration_path, :class => "button"