%section#content
  .container
    .row
      .eight.columns
        .page
          .page-head
            .header-group
              %h1 Sign Up
              %h3.subheader Create a free account and connect with professionals
          .page-body

            = render :partial => "shared/show_flash"

            = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
              = devise_error_messages!

              .header-group
                %h3 Personal details
                %h4.subheader Give us some information about you

              .row
                .twelve.columns
                  = f.label :name
                  = f.text_field :name

              .row
                .twelve.columns
                  = f.label :email
                  = f.email_field :email

              .row
                .six.columns
                  = f.label :password
                  = f.password_field :password
                .six.columns
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation

              %hr

              .header-group
                %h3 Location
                %h4.subheader Where are you located?

              .row
                .eight.columns
                  = f.label :locality, "City"
                  = f.text_field :locality
                .four.columns
                  = f.label :postal_code
                  = f.text_field :postal_code

              .row
                .six.columns
                  = f.label :region, "Province/State"
                  = f.text_field :region
                .six.columns
                  = f.label :country
                  = country_select('user', 'country', ['Canada', 'United States'])

              .actions
                = f.submit "Sign up", :class => "button"

      .four.columns
        = render "users/shared/panels"
