%section#content
  .container
    .row
      .eight.columns
        .page
          %header
            .container
              %hgroup
                %h1 Sign Up
                %h3.subheader Create a free account and connect with professionals
          %section
            .container
              = render "shared/show_flash"

              = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
                = devise_error_messages!

                %fieldset
                  %legend Account details

                  .row
                    .twelve.columns
                      = f.label :email
                      = f.email_field :email

                  .row
                    .six.columns
                      = f.label :password
                      = f.password_field :password
                    .six.columns
                      = f.label :password_confirmation
                      = f.password_field :password_confirmation

                %fieldset
                  %legend Location

                  = render "shared/location_selector", :f => f, :street_address => false

                .actions
                  = f.submit "Sign up", :class => "button"

      .four.columns
        = render "users/shared/panels"
